<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:38</td>   <td>4707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:42</td>   <td>8886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:45</td>   <td>12474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:48</td>   <td>14712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:51</td>   <td>17970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:54</td>   <td>20715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:41:56</td>   <td>23412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:01</td>   <td>27690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:03</td>   <td>30433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:06</td>   <td>32624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:09</td>   <td>36148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:13</td>   <td>39876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:15</td>   <td>42228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:18</td>   <td>44959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>18/05/15 15:42:20</td>   <td>47204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC_1(java.lang.String)[pri:0, instance:automation.NewTest@428640fa]">TC_1</td> 
  <td>main@1446983876</td>   <td></td> </tr>
</table>
